Base de Datos - SQL/Conectar.php
Base de Datos - SQL/couchinn - CON LAS LOCALIDADES.sql.txt
Base de Datos - SQL/couchinn - NO BORRAR (anterior a colocar las localidades).sql.txt
Base de Datos - SQL/couchinn FINAL.sql
