* {
  margin: 0;
  padding: 0;
}

body {
  background: #f2f2f2;
  font-family: "Roboto";
  border-top: 30px; 
}

#cuerpo {
  width: 70em;
  padding-top:6em;
}

/*table{
  width: 100%;
  background-color: grey;
}*/

#titulo {
  font-family: "Roboto";
  font-size: 25px;
  color: #96ac3c;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 1.5em;
}

.contenido-ganancias{
  float: left;
  width: 30em;
  height: 22em;
  margin-top: 3em;
  margin-left: 30em;
  margin-bottom: 6em;
  background: #fff;
  box-shadow: 0px 0px 3px grey;
  overflow: hidden;
}

#formulario {
width: 32em;
height: 1.5em;
padding-top:-2em;
margin-top: 2em;
margin-bottom:0em;
margin-left: -2.5em;
font-family: "Roboto";
color: #6d6d6d;
font-size: 18px;
}

#boton {
  width:15em;
  margin-left:2.1em;
  margin-top:0em;

}

#boton input[type="submit"] {
      background: #96AC3C;
      border-radius: 1px;
      border: 2px solid #f2f2f2;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-family: "Roboto";
      font-size: 16px;
      padding: 15px;
      width: 100%;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      #boton input[type="submit"]:hover {
        background: #6D6D6D; }

input[type="button"] {
      background: #96AC3C;
      border-radius: 1px;
      border: 2px solid #f2f2f2;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-family: "Roboto";
      font-size: 16px;
      padding: 15px;
      width: 100%;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
input[type="button"]:hover {
        background: #6D6D6D; }

/*tbody tr:hover{
  background: #6d6d6d;
}
.contenido-reservas-aceptadas{
  width:1360px;
  height:800px;
  background:grey;
}
*/
td{
  text-align: center;
}
