table{
  width: 100%;
  background-color: grey;
}
.contenido-ganancias{
    width:1360px;
    height:800px;
    background:grey;
}
tbody tr:hover{
  background: #6d6d6d;
}
.contenido-reservas-aceptadas{
  width:1360px;
  height:800px;
  background:grey;
}
td{
  text-align: center;
}
